body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
/* navbar start */

.nav-page {
  background-color: transparent;
  position: fixed;
  z-index: 2;
  height: 80px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.nav-list {
  margin-top: 30px;
  display: flex;
  gap: 40px;
  list-style: none;
}
.nav-list a {
  color: white;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: 400;
}
/* navbar end */
/* home section start */
#home {
  height: 100vh;
  width: 100%;
  background-image: url("../img/image_1.jpg.webp");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  min-height: 800px;
}
.home-text {
  color: white;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-text h1 {
  text-align: center;
  font-size: 70px;
  font-weight: 200;
}
.home-text strong {
  font-weight: 800;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 15px;
}
.home-text p {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.2rem;
}
/* home section end  */
/* <!-- portfolio section start --> */
#portfolio {
  width: 100%;
  height: 100%;
  background: #222;
}
.port-text {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 30px;
  color: white;
}
.port-text h2 {
  font-size: 30px;
  font-weight: 200;
}
.port-text strong {
  font-weight: 800;
}
.portfolio-filter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-list {
  display: flex;
  gap: 30px;
  list-style: none;
}

.portfolio-list a {
  color: #ffffff66;
}
.container {
  max-width: 1200px;
  padding: 45px 130px;
}
.port-boxs {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}
.port-box {
  width: 280px;
}

.box-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
}
.box-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 15px 0;
}
.box-text h4 {
  margin-bottom: 8px;
  font-weight: 200;
  font-size: 20px;
}
.box-text p {
  color: #cccccc;
  font-weight: 300;
  text-transform: uppercase;
}
/* <!-- portfolio section end --> */
/* resume section start */
#resume {
  width: 100%;
  height: 100%;
  background: #222;
}
.resume-text {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 30px;
  color: white;
}
.resume-text h2 {
  font-size: 30px;
  font-weight: 200;
}
.resume-text strong {
  font-weight: 800;
}
.option {
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 20px;
}
.option h2 {
  font-weight: 200;
}
.resume-cards {
  gap: 30px;
  margin-top: 45px;
  display: grid;
  grid-template-columns: auto auto;
}
.resume-card {
  background-color: #2d2d2d;
  padding: 30px;
  border-radius: 10px;
  color: #ccc;
  max-width: 500px;
}

.resume-date {
  font-weight: bold;
  font-size: 12px;
  color: white;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.resume-title {
  font-size: 20px;
  color: #bac964;
  margin-bottom: 15px;
  font-weight: 400;
}

.resume-description {
  font-size: 16px;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 20px;
}

.resume-university {
  font-size: 16px;
  color: #ffffff4d;
}
/* resume section end */
/* about section start */
#about {
  width: 100%;
  height: 100%;
  background: #222;
}
.about-page {
  margin-top: 90px;
  display: flex;
  margin-bottom: 60px;
}
.about-page img {
  max-height: 350px;
  max-width: 500px;
  object-fit: cover;
  margin-right: 3rem;
}
.about-text {
  margin-left: 3rem;
}

.about-me {
  padding-bottom: 30px;
  color: white;
}
.about-me h2 {
  font-size: 30px;
  font-weight: 200;
}
.about-me strong {
  font-weight: 800;
}
.big-p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #ffffff66;
  font-weight: 300;
}
.small-p {
  margin-bottom: 3rem;
  color: #ffffff66;
  font-weight: 300;
  line-height: 1.5;
}
.about-btn {
  display: flex;
  gap: 10px;
}
.left-btn {
  background-color: #bac964;
  border-radius: 100px;
  padding: 8px 25px;
  font-size: 12px;
  letter-spacing: 0.2rem;
}
.left-btn a {
  color: #212529;
}
.right-btn {
  background-color: #6c757d;
  border-radius: 30px;
  padding: 8px 25px;
  font-size: 12px;
  letter-spacing: 0.2rem;
}
.right-btn a {
  color: #fff;
}
/* about section end  */
/* comment section start  */
#comment{
  width: 100%;
  height: 100%;
  background: #222;
}
.comment-text {
  padding-bottom: 30px;
  color: white;
  padding-top: 90px;
}
.comment-text h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}
.comment-text strong {
  font-weight: 800;
}
.comment-cards{
  display: grid;
grid-template-columns: auto auto;
margin-bottom: 40px;
}
.comment-card {
  display: flex;
  align-items: flex-start;
  /* background-color: #1e1e1e; */
  padding: 1.5rem;
  border-radius: 0.75rem;
  max-width: 450px;
  position: relative;
  color: #ccc;
}

.comment-card__image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
  border: 2px solid #333;
}

.comment-card__content {
  background-color: #333;
  padding: 1.25rem;
  border-radius: 7px;
  position: relative;
 margin-left: 20px;
}

.comment-card__content::before {
  content: "";
  position: absolute;
  top: 1rem;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #333;
}

.comment-card__text {
  padding: 5px;
  font-style: italic;
  margin-bottom: 1rem;
   color: rgb(255, 255, 255, 0.4);
   font-weight: 300;
   line-height: 1.7;
}

.comment-card__author {
  font-size: 0.9rem;
  color: #666666;
  margin-bottom: 15px;
}

.comment-card__name {
  font-style: italic;
  font-size: 14px;
}

.comment-card__company {
  font-style: italic;
  color: #b6e37b;
}
/* comment section end  */
/* services section start  */
#services {
  width: 100%;
  height: 100%;
  background: #222;
}
.services-text {
  padding-bottom: 30px;
  color: white;
  padding-top: 90px;
}
.services-text h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}
.services-text strong {
  font-weight: 800;
}
.services-cards{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}

.services-card {
  background-color: #333;
  text-align: center;
  padding: 2rem 1.5rem;
  color: rgba(255, 255, 255, 0.4);
  max-width: 300px;
  line-height: 1.7;
  font-weight: 300;
}

.services-card__icon {
  background-color: #c2e67f;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-card__icon i {
 font-size: 30px;
 color: #222;
}

.services-card__title {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1rem;
}

.services-card__text {
  font-size: 1rem;
  line-height: 1.6;
  color: #888;
  margin-bottom: 1.5rem;
}

.services-card__link {
  color: #c2e67f;
  text-decoration: none;
  font-weight: 300;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  line-height: 1;
}
.services-card__link i{
text-align: center;
font-weight: 300;
font-size: 0.7rem;
position: relative;
top: 1px;
}

.services-card__link:hover {
 cursor: pointer;
 gap: 20px;
 transition: 0.5s all;
 letter-spacing: 0.2px;
}
/* <!-- blog section start  --> */
#blog{
  width: 100%;
  height: 100%;
  background: #222;
}
.blog-text {
  padding-bottom: 30px;
  color: white;
  padding-top: 90px;
}
.blog-text h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}
.blog-text strong {
  font-weight: 800;
}
.blog-card {
  background-color: #2b2b2b;
  color: #ffffff;
  overflow: hidden;
  max-width: 270px;
  font-family: Arial, sans-serif;
}

.blog-card__image img {
  width: 100%;
  height: auto;
  display: block;
}

.blog-card__content {
  padding: 20px;
}

.blog-card__title {
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: 100;
  line-height: 1.5;
}

.blog-card__description {
  font-size: 1rem;
  color: #a0a0a0;
  margin-bottom: 15px;
}

.blog-card__info {
  display: flex;
  gap: 20px;
  font-size: 0.9rem;
  color: #c2c2c2;
  align-items: center;
}

.blog-card__info i {
  margin-right: 6px;
  color: #c2e67f;
}
